* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", Verdana, Arial, Sans-serif;
}
@import "header";
@import "product";
@import "footer";
@import "responsive-header";
@import "responsive-product";
